#gopng_赞拷贝2_outer {
height: 23px;
width: 22px;
overflow: hidden;
}
#gopng_赞拷贝2 {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_赞_outer {
height: 23px;
width: 22px;
overflow: hidden;
}
#gopng_赞 {
background: url(http://gopng/static/images/sprite.png) -22px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 22px;
_margin-left: -22px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_挑衅_outer {
height: 22px;
width: 22px;
overflow: hidden;
}
#gopng_挑衅 {
background: url(http://gopng/static/images/sprite.png) -44px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 44px;
_margin-left: -44px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_赞拷贝3_outer {
height: 22px;
width: 22px;
overflow: hidden;
}
#gopng_赞拷贝3 {
background: url(http://gopng/static/images/sprite.png) -66px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 66px;
_margin-left: -66px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
