.forums_nav ul.forums_ul {
  overflow: hidden;
  border-radius: 10px;
  background-color: #dddddd;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.forums_nav ul.forums_ul li {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.forums_nav ul.forums_ul li a {
  display: block;
  font-size: 18px;
  color: #999;
  padding: 10px 15px;
  text-align: center
}

.forums_nav ul.forums_ul li.active a {
  color: #ff9935;
  background: #ffffff;
}

.watching_focus_box .watching_focus_list {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
  position: relative
}

.watching_focus_list .author_wrap {
  overflow: hidden;
  line-height: 40px
}

.watching_focus_list .author_wrap .author_portrait img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block
}

.watching_focus_list .author_name span a {
  color: #cacaca
}

.watching_focus_list .author_name span {
  margin-left: 15px
}

.type_name span.author_game a {
  color: #fff;
  background-color: #ff9935;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px !important;
  margin-bottom: 10px;
  display: inline-block
}

.type_name span.author_game a:hover {
  color: #fff;
  background-color: #ed7c31 !important;
  -webkit-transition: all .5s;
  transition: all .5s
}

.type_name span.author_game.gf a {
  background-color: #ff9985
}

.type_name span.author_game.gf a:hover {
  background-color: #ff999f !important
}

.watching_focus_list .item-content .item-title {
  color: #333;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 5px 0;
  text-indent: 25px;
}

.watching_focus_list .item-content {
  padding-bottom: 15px
}

.watching_focus_list .item-content .content-text a.txt-a {
  margin-top: 10px;
  display: block;
  overflow: hidden
}

.watching_focus_list .item-content .content-text a.txt-a img {
  width: 100%;
  display: block;
  -webkit-transition: all .5s;
  transition: all .5s;
  max-height: 350px;
}

.watching_focus_list .item-content .content-text a.txt-a span {
  position: absolute;
  width: 60px;
  line-height: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, .7);
  bottom: 0;
  right: 0;
  color: #fff;
  text-align: center;
  z-index: 999999;
  border-radius: 10px 0 0 0
}

.watching_focus_list .item-content .content-text a.txt-a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.watching_focus_list .item-content .content-text.on {
  overflow: hidden;
  margin-top: 10px
}

.watching_focus_list .item-content .content-text.on a,
.watching_focus_list .item-content .content-text.on p {
  float: left
}

.watching_focus_list .item-content .content-text.on a {
  border-right: 1px solid #eee;
  margin-right: 15px
}

.watching_focus_list .item-content .content-text.on a img {
  width: 250px;
  display: block;
  margin-right: 15px;
  height: 150px
}

.watching_focus_list .item-content .content-text.on p {
  width: 377px
}

.watching_focus_list .item-content .content-text p {
  color: #999;
  font-size: 14px;
  max-height: 144px;
  overflow: hidden;
  line-height: 24px;
  text-indent: 25px
}

.Thumb_comment_forward ul li,
.time_browse ul li {
  float: left;
  margin-right: 15px;
  padding-top: 3px;
  line-height: 28px;
  height: 28px;
  display: block;
  position: relative;
  color: #bfbfbf
}

.Thumb_comment_forward ul li {
  cursor: pointer
}

.Thumb_comment_forward ul li a {
  display: inline-block
}

.Thumb_comment_forward ul li i {
  margin-right: 5px
}

.Thumb_comment_forward ul li i,
.Thumb_comment_forward ul li span {
  float: left;
  color: #cdcdcd
}

.Thumb_comment_forward ul li i.Thumb.on {
  background-position: -512px -164px
}

.Thumb_comment_forward ul li i.Thumb {
  height: 23px;
  width: 22px;
  background-position: -490px -164px
}

.Thumb_comment_forward ul li i.comment {
  height: 20px;
  width: 20px;
  background-position: -534px -164px;
  margin-top: 3px
}

.Thumb_comment_forward ul li i.forward {
  height: 29px;
  width: 27px;
  margin-top: -3px;
  background-position: -517px -128px
}

.right_menu {
  position: relative;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer
}

.right_menu .menu_span {
  position: relative
}

.right_menu .menu_span span {
  display: block;
  width: 4px;
  height: 4px;
  margin: 4px;
  border-radius: 50%;
  background-color: #cacaca
}

.right_menu .menu_list {
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 30px;
  right: 0;
  overflow: hidden;
  display: none;
  z-index: 999999
}

.right_menu .menu_list li {
  width: 130px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer
}

.right_menu .menu_list li:hover {
  background-color: rgba(238, 231, 231, .6)
}

.Thumb_comment_forward ul li .fenx_ {
  overflow: hidden;
  height: 106px;
  width: 225px;
  background-position: 0 -200px;
  position: absolute;
  bottom: 25px;
  left: 35px;
  display: none
}

.Thumb_comment_forward ul li .fenx_ i {
  margin: 12px;
  border-radius: 50%;
  background-color: #eee
}

.Thumb_comment_forward ul li .fenx_ .fii {
  height: 48px;
  width: 48px;
  background-position: 0 0
}

.Thumb_comment_forward ul li .fenx_ .niaoii {
  height: 48px;
  width: 48px;
  background-position: -48px 0
}

.Thumb_comment_forward ul li .fenx_ .inii {
  height: 48px;
  width: 48px;
  background-position: -96px 0
}

.section-from a {
  color: #999;
  margin-bottom: 10px;
  display: inline-block
}

.video_box {
  position: relative
}

.video_box .video_ico {
  position: absolute;
  background: url(/style/gg/ico-vid.png);
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  z-index: 9;
  cursor: pointer
}

.group_nav.forums_nav ul.forums_ul {
  margin: 0
}

.Following_Game .Hot_forums_box ul li .forum-info h4 {
  width: 600px;
  font-weight: 400;
  margin: 10px 0
}

.Following_Game .Hot_forums_box ul li .forum-info p {
  width: 600px;
  color: #777;
  font-weight: 300
}

.Following_Game .Hot_forums_box ul li .forum-info p span {
  color: #ff9935
}

.Hot_Forums .Hot_forums_box ul {
  overflow: hidden
}

.Hot_Forums .Hot_forums_box ul li {
  width: 352px;
  float: left
}

.Hot_Forums .Hot_forums_box ul li .forum-info h4,
.Hot_Forums .Hot_forums_box ul li .forum-info p {
  color: #999;
  width: 200px;
  font-weight: 300
}

.The_official .Hot_forums_box ul li>a {
  width: 75%
}

.The_official .Hot_forums_box ul li .forum-info h4 {
  width: 100%
}

.upload_video {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  color: #ff9935
}

.upload_video a {
  overflow: hidden;
  display: block;
  padding: 15px 0 15px 20px
}

.upload_video a span {
  font-size: 26px;
  color: #ff9935;
  float: left;
  margin-top: 15px;
  margin-left: 20px
}

.upload_video a i {
  float: left;
  height: 60px;
  width: 43px;
  background-position: -447px -128px
}

.popular_video_list {
  background-color: #fff;
  border-radius: 15px
}

.popular_video_list ul {
  padding: 0 15px 15px 15px
}

.popular_video_list li {
  overflow: hidden;
  padding-top: 15px
}

.popular_video_list li .video_img a img {
  width: 165px;
  display: block
}

.popular_video_list li .video_img {
  position: relative
}

.popular_video_list li .video_img span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  line-height: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  text-align: center;
  z-index: 999999;
  border-radius: 5px 0 0 0;
  font-size: 14px
}

.popular_video_list li .text {
  width: 230px
}

.popular_video_list li .text a h4 {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-family: PingFangSC-Medium;
  line-height: 20px;
  min-height: 20px;
  height: 40px;
  margin-bottom: 5px;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px
}

.popular_video_list li .text p,
.popular_video_list li .text span {
  color: #999;
  line-height: 22px
}

.main {
  background-color: transparent !important
}

.header_nav_box {
  margin-bottom: 20px
}

.My_tool {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px 20px
}

.My_tool ul li {
  line-height: 50px;
  border-bottom: 1px solid #ff9935
}

.My_tool ul li:nth-last-child(1) {
  border: none
}

.My_tool ul li a {
  display: block;
  padding: 10px;
  color: #ff9935;
  font-size: 28px;
  text-align: center;
  overflow: hidden
}

.My_tool ul li a i {
  float: left
}

.My_tool ul li a i.collect {
  height: 36px;
  width: 27px;
  background-position: -490px -128px;
  margin-top: 5px
}

.My_tool ul li a i.record {
  height: 28px;
  width: 29px;
  background-position: -544px -128px;
  margin-top: 8px
}

.My_tool ul li a i.draft {
  height: 23px;
  width: 20px;
  background-position: -575px -90px;
  margin-top: 10px;
  margin-left: 3px
}

.Hot_forums_box {
  border-radius: 15px;
  overflow: hidden;
  padding: 15px 15px 0;
  background-color: #fff
}

.Hot_forums_box ul li {
  margin-bottom: 15px;
  overflow: hidden
}

.Hot_forums_box ul li>a {
  overflow: hidden;
  width: 300px;
  display: block
}

.Hot_forums_box ul li .item-icon img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  display: block
}

.Hot_forums_box ul li .forum-info h4 {
  color: #ff9935;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 190px;
  margin: 10px 0
}

.Hot_forums_box ul li .forum-info p {
  color: #ff9935;
  font-size: 16px;
  margin: 10px 0
}

.Hot_forums_box ul li .btn {
  min-width: 80px;
  padding: 7px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #ff9935;
  background-color: #fff;
  margin-top: 25px;
  margin-right: 5px;
  -webkit-transition: all .5s;
  transition: all .5s
}

.Hot_forums_box ul li .btn a {
  color: #ff9935
}

.Hot_forums_box ul li .btn:hover {
  background-color: #ff9935
}

.Hot_forums_box ul li .btn:hover a {
  color: #fff
}

.Topic_ranking .Topic_ranking_list li a {
  overflow: hidden;
  display: block;
  margin-bottom: 10px
}

.Topic_ranking .Topic_ranking_list li:nth-last-child(1) {
  margin: 0
}

.Topic_ranking .Topic_ranking_list li {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px 15px 10px;
  -webkit-box-shadow: 0 2px 5px #e6e6e6;
  box-shadow: 0 2px 5px #e6e6e6;
  border: 1px solid rgba(221, 221, 221, .7);
  border-radius: 15px
}

.Topic_ranking .Topic_ranking_list li a.ranking_list_top img {
  float: left;
  width: 175px;
  border-radius: 5px;
  margin-right: 15px
}

.Topic_ranking .Topic_ranking_list li a.ranking_list_top p {
  font-size: 18px;
  word-break: break-all;
  height: 100px;
  overflow: hidden;
  color: #656565
}

.Topic_ranking .Topic_ranking_list li p span {
  font-size: 20px;
  margin-right: 5px;
  color: salmon
}

.Topic_ranking .Topic_ranking_list li p span.span_color {
  color: #ff9935
}

.Topic_ranking .Topic_ranking_list li .ioc {
  height: 22px
}

.Topic_ranking .Topic_ranking_list li .ioc div {
  text-align: center;
  width: 130px;
  float: left;
  max-width: 130px
}

.Topic_ranking .Topic_ranking_list li .ioc i {
  float: left
}

.Topic_ranking .Topic_ranking_list li .ioc .read {
  height: 17px;
  width: 32px;
  background-position: -488px -200px;
  margin-top: 2px
}

.Topic_ranking .Topic_ranking_list li .ioc .thumb {
  height: 23px;
  width: 22px;
  background-position: -490px -164px;
  margin-top: -3px
}

.Topic_ranking .Topic_ranking_list li .ioc .message {
  height: 20px;
  width: 20px;
  background-position: -534px -164px;
  margin-top: 2px
}

.Topic_ranking .Topic_ranking_list li .ioc span {
  float: left;
  color: #cdcdcd;
  margin-left: 10px;
  font-size: 16px;
  width: 85px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.Topic_ranking .Topic_ranking_list li .Game_information_tetx img {
  display: block;
  width: 100%;
  height: auto
}

.Topic_ranking .Topic_ranking_list li .Game_information_tetx p {
  font-size: 22px;
  margin-bottom: 10px
}

.Topic_ranking .Topic_ranking_list li .Game_information_tetx p span {
  font-size: 28px
}

.Forum_user_ranking_box ul {
  background-color: #fff;
  border-radius: 15px;
  padding: 0 15px 15px 15px
}

.Forum_user_ranking_box ul li {
  height: 65px;
  line-height: 65px;
  padding-top: 15px
}

.Forum_user_ranking_box ul li>div {
  float: left
}

.Forum_user_ranking_box ul li div.portrait {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px
}

.Forum_user_ranking_box ul li div.portrait img {
  width: 100%;
  height: 100%;
  display: block
}

.Forum_user_ranking_box ul li div.level span {
  font-size: 18px;
  color: #ff9935;
  font-weight: 600;
  width: 80px;
  text-align: left;
  display: block
}

.Forum_user_ranking_box ul li div.level {
  float: right
}

.Forum_user_ranking_box ul li div.name a {
  color: #9999;
  font-size: 22px;
  padding: 0;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 210px;
  display: block
}

.The_article_box {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden
}

.The_article_box .The_article_name {
  overflow: hidden
}

.The_article_box .The_article_name .portrait {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left
}

.The_article_box .The_article_name .portrait img {
  width: 50px;
  height: 50px;
  display: block
}

.The_article_box .The_article_name .name_message {
  float: left;
  margin-left: 15px;
  color: #999
}

.The_article_box .The_article_name .name_message .name_TOP {
  overflow: hidden
}

.The_article_box .The_article_name .name_message .name_TOP a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  margin-right: 5px;
  font-weight: 500;
  line-height: 30px;
  float: left
}

.The_article_box .The_article_name .text_time {
  float: right;
  color: #999;
  font-size: 14px;
  line-height: 50px
}

.The_article_box .The_body h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  margin-top: 20px
}

.The_article_box .The_body .content-bd {
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;
  word-break: break-all;
  margin-top: 15px
}

.The_article_box .The_body .content-bd iframe,
.The_article_box .The_body .content-bd img,
.The_article_box .The_body .content-bd video {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 100%
}

.The_article_box .The_body .content-bd img[data-w-e] {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: 20px
}

.content-ft {
  text-align: center;
  line-height: 0;
  font-size: 0;
  margin-top: 10px;
  padding: 20px 0;
  color: #666
}

.content-ft li {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 105px;
  text-align: center;
  margin: 0 5px;
  position: relative;
  cursor: pointer
}

.content-ft li .it {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  background: url(../img/conit.png) no-repeat
}

.content-ft li .txt {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  margin-top: 20px
}

.content-ft li .bad {
  background-position: -60px 0
}

.content-ft li .good {
  background-position: 0 0
}

.content-ft li .share {
  background-position: -120px 0
}

.content-ft li .fav {
  background-position: -180px 0
}

.content-ft li .bad.on {
  background-position: -60px -60px
}

.content-ft li .good.on {
  background-position: 0 -60px
}

.content-ft li .share.on {
  background-position: -120px -60px
}

.content-ft li .fav.on {
  background-position: -180px -60px
}

#example_video_1 {
  width: 100%;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px
}

.video-js .vjs-big-play-button {
  top: 45% !important;
  left: 45% !important
}

.bbstopic {
  height: 170px;
  overflow: hidden;
  padding: 0 20px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative
}

.bbstopic .img {
  float: left;
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin-top: 20px;
  margin-right: 15px
}

.bbstopic .con {
  height: 124px;
  overflow: hidden;
  margin-top: 20px;
  width: 420px
}

.bbstopic .title {
  height: 40px;
  line-height: 40px;
  overflow: hidden
}

.bbstopic .title .name {
  float: left;
  font-size: 20px;
  font-weight: 700
}

.bbstopic .li-si {
  width: 120px;
  position: absolute;
  right: 20px;
  top: 10px
}

.bbstopic .li-si .newtopic {
  display: block;
  background: url(/style/img/item.png) no-repeat 0 0;
  border: #999 1px solid;
  width: 100px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  line-height: 42px;
  padding-left: 23px;
  margin-top: 20px;
  border-radius: 10px
}

.post_box {
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: -210px
}

.post_box.on {
  opacity: 1;
  visibility: visible;
  transition: .3s
}

.post_box .group_create_entry {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between
}

.post_box .group_create_entry li {
  margin-right: 10px
}

.post_box .group_create_entry li:last-child {
  margin: 0
}

.post_box .group_create_entry li a {
  display: block;
  text-align: center;
  position: relative
}

.post_box .group_create_entry li a span {
  display: block;
  margin: 5px;
  width: 40px;
  height: 40px
}

.post_box .group_create_entry li a span.icon-post {
  background: url(../img/create_post.png) center no-repeat;
  background-size: 100%
}

.post_box .group_create_entry li a span.icon-video {
  background: url(../img/create_video.png) center no-repeat;
  background-size: 100%
}

.post_box .group_create_entry li a span.icon-photo {
  background: url(../img/create_photo.png) center no-repeat;
  background-size: 100%
}

.bbstopic .li-si .newtogz {
  display: block;
  border: #ff9935 1px solid;
  width: 123px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  line-height: 42px;
  margin-top: 20px;
  border-radius: 10px;
  color: #ff9935
}

.bbstopic .li-si .newtopic:hover {
  border: #ff9935 1px solid;
  color: #ff9935;
  background-position: 0 -41px
}

.bbstopic .li-si .newtogz.on,
.bbstopic .li-si .newtogz:hover {
  border: #ff9935 1px solid;
  background: #ff9935;
  color: #fff
}

.bbstopic .desc {
  height: 44px;
  overflow: hidden;
  line-height: 30px;
  font-size: 14px;
  color: #666;
  margin-top: 5px
}

.bbstopic .info {
  height: 20px;
  line-height: 20px
}

.bbstopic .info .total {
  float: left
}

.bbstopic .info .total span.sp1 {
  background-position: 0 -220px
}

.bbstopic .info .total span {
  float: left;
  height: 20px;
  line-height: 20px;
  color: #999;
  margin-right: 10px;
  padding-left: 20px;
  background: url(/style/img/icon.png) no-repeat
}

.bbstopic .info .total span.sp2 {
  background-position: 0 -250px
}

.bbstopic .info .total span.sp3 {
  background-position: 0 -280px
}

.topic-reco-box {
  margin-bottom: 20px
}

.topic-reco {
  background: #fff;
  padding: 10px 20px;
  font-size: 16px
}

.topic-reco li {
  height: 20px;
  line-height: 20px;
  margin: 15px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.topic-reco li:hover a {
  color: #ff9935
}

.topic-reco li a {
  font-size: 18px
}

.topic-reco span {
  float: left;
  border-radius: 4px;
  padding: 0 5px;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  overflow: hidden;
  min-width: 35px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #ffaf0f;
  color: #ffaf0f
}

.topic-reco span.on {
  border: 1px solid #ff6054;
  color: #ff6054
}

/* 帖子搜索 */
.forum_seek {
  float: left;
  width: 100%;
  display: block;
  padding-bottom: 10px;
}

.forum_seek .nav_form {
  float: left;
  margin-left: -10px;
  height: 42px;
  width: 282px;
  background: url(../img/log_in.png) -0px -226px no-repeat;
  overflow: hidden;
  transform: scale(.8);
  -webkit-transform: scale(.8);
}

.forum_seek .nav_form .seek_text {
  padding: 11px 0 11px 25px;
  width: 205px;
  line-height: 21px;
  color: #12A7B4;
  font-size: 18px;
}

.forum_seek .nav_form .seek_btn {
  width: 45px;
  line-height: 42px;
}

.forum_seek .nav_form input {
  border: none;
  background-color: transparent;
  float: left;
}

.div_seek {
  display: none;
}
